<div class="content-container">
    
    <!-- Content "box" with photo to the right and text to the left-->
    <div class="text-left-photo-right-box">
        
        <div class="text-box">
            <h1>Biografi: Kim Larsen - Sanger og guitarist</h1>
            <h3>Indledning</h3>
            <p>Kim Larsen er uden tvivl en af de mest elskede og ikoniske skikkelser i dansk musik. Som frontfigur i Gasolin’ blev han i 1970’erne et symbol på dansk rock, ungdomskultur og fællesskab. Hans karakteristiske stemme, skæve humor og evne til at skrive sange, der ramte både hjertet og hverdagen, gjorde ham til en folkeeje. Selvom hans solokarriere senere blev enorm, var tiden i Gasolin’ fundamentet for hans kunstneriske identitet. Her blev hans talent formet, udfordret og forfinet – og her blev han til den Kim Larsen, som generationer af danskere har taget til sig.</p>
        </div>
        
        <div class="photo-box">
            
        </div>
        
    </div>
    
</div>