@page 
@model rockmuseet_og_gasolin.Pages.bands.GasolinModel
@{
    ViewData["Title"] = "Gasolin";
}

<div class="text-center">
    <h1 class="display-4">Gasolin</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Gasolin</a>.</p>
</div>