header {
    background-color: black;
    padding: 2rem 0;
    width: 100%;
}

body {
    margin: 0;
}

.header {
    display: flex;
    align-items: center;

    width: 80%;
    margin: 0 auto;
}

.logo {
    height: 6.5rem;
    width: auto;
    margin-right: auto;
}

.logo:hover {
    cursor: pointer;
}

.logo-wrapper {
    margin-right: auto;
}



/* Dropdown menus*/

.dropdown {
    position: relative;
    margin-left: 1.5rem;
}

.dropdown button {
    background-color: black;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown button:hover {
    color: darkred;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 11rem;
}

.dropdown-content a {
    display: block;
    padding: 0.6rem 0.8rem;
    text-decoration: none;
    color: white;
}

.dropdown-content a:hover {
    color: darkred;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* drop down right menu */
.dropdown-right {
    position: relative;
}


.dropdown-right-content {
    display: none;
    position: absolute;
    left: 100%; 
    top: 0;
    background-color: black;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-right:hover .dropdown-right-content {
    display: block;
}

.dropdown-right > a {
    display: flex;
    justify-content: space-between;
}


/* Footer */

.footer {
    margin-top: 10rem;
}



/* Phone Optimizing */

@media (max-width: 768px) {

    .header {
        width: 100%;
        padding: 0 1rem;
        flex-wrap: wrap;
    }

    .logo {
        height: 4rem;
    }

    .dropdown {
        margin-left: 0.8rem;
    }

    .dropdown button {
        font-size: 0.8rem;
    }

    .dropdown-content {
        min-width: 9rem;
    }
}