@page 
@model rockmuseet_og_gasolin.Pages.content.BandsModel
@{
    ViewData["Title"] = "Bands";
}

<div class="text-center">
    <h1 class="display-4">Bands</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">all the bands</a>.</p>
</div>