@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-container">
    
    <!-- Content "box" with photo to the right and text to the left-->
    <div class="text-and-photo-container">
        
        <div class="text-box">
            <h5>microprojekt</h5>
            <h1>Rockmuseet, Gasolin' </h1>
            <div style="width: 44px; height: 2px; background: #8b4a2e; margin-bottom: 1.4rem;"></div>
            <p style="font-size:1.75rem">Hej, velkommen til vores mikropjekt, hvor vi har fået opgaven af at udvikle en hjemmeside-del til rockmuseet. Vi har skulle lave udstillingen til gasolin' </p>
            <p style="font-size:1.75rem">For at starte, tryk på bands i headeren</p>
            
        </div>
        
    </div>
</div>