@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="content-container">
    
    <!-- Content "box" with photo to the right and text to the left-->
    <div class="text-and-photo-container">
        
        <div class="text-box">
            <h5>microprojekt</h5>
            <h1>Rockmuseet, Gasolin' </h1>
            <div style="width: 44px; height: 2px; background: #8b4a2e; margin-bottom: 1.4rem;"></div>
            <p>Hej, velkommen til vores mikropjekt, hvor vi har fået opgaven af at udvikle en hjemmeside-del til rockmuseet. Vi har skulle lave udstillingen til gasolin' </p>
        </div>
        
    </div>
</div>

<div class="text-box-black-background">
    <div class="content-container">

        <div class="text-and-photo-container">

            <div class="photo-box">
                <img src="~/images/biography/bjorn-uglebjerg/bjorn-uglebjerg-2.png" class="image-biography">
            </div>

            <div class="text-box-white-text">
                <h2 class="section-heading-white">Hvad har vi lavet</h2>
                <p>Da Gasolin’ blev dannet i 1969, var Bjørn Uglebjerg bandets første trommeslager. Gruppen opstod i miljøet omkring Sofiegården på Christianshavn, hvor også Kim Larsen kom til som forsanger. I denne tidlige fase var både bandets lyd og identitet stadig under udvikling, og Uglebjerg var med til at lægge den rytmiske bund under de første skridt.</p>
                <p>Han var en del af Gasolin’ i årene før det store gennembrud og medvirkede i den periode, hvor bandet spillede små jobs, eksperimenterede med deres udtryk og langsomt fandt deres plads i dansk rock. Som trommeslager var han med til at give de første sange fremdrift og sammenhæng, mens gruppen stadig søgte efter den form, der senere skulle gøre dem landskendte.</p>
                <p>Selvom han i 1971 blev afløst af Søren “Charlie” Berlev, ændrer det ikke ved, at Uglebjerg hører til blandt de musikere, der var med fra begyndelsen. Han var en del af det første kapitel i Gasolin’s historie – og dermed også en del af fundamentet under bandets senere succes.</p>
            </div>
            
        </div>
    </div>
</div>